.main {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

.todo-list_title,
.users_title {
  text-align: center;
  color: var(--c-blue);
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 40px;
}

.todo-list_container {
  margin: 0 20px;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-row-wrapper {
  display: flex;
}

ul {
  margin: 0;
  padding: 0px;
}

li {
  list-style: none;
}

input,
.add,
.delete,
.edit {
  outline: none;
}

.add,
.delete,
.edit {
  background: none;
  border: 0px;
  color: var(--c-gray);
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  transition: all 0.5s ease;
}

.add:hover,
.delete:hover,
.edit:hover {
  color: var(--c-blue);
}

h3,
.new-task {
  color: var(--c-blue);
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid var(--c-blue);
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 30px;
  padding: 0 9px;
  border: 1px solid var(--c-blue);
  background: var(--c-white);
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: var(--c-blue);
}
.new-task {
  display: block;
  margin: 0 0 20px;
}

.task {
  width: 100%;
  color: var(--c-blue);
}

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid var(--c-white);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > * {
  vertical-align: middle;
}

li > input[type="checkbox"] {
  margin: 0 10px;
}

li > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

li > input[type="text"] {
  width: 226px;
}

button.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

button.delete img:hover {
  transform: rotateZ(0);
}

ul#completed-tasks label {
  text-decoration: line-through;
  color: var(--c-gray);
}

ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: inline-block;
  width: 224px;
}

ul li.editMode label {
  display: none;
}
